/* General styling */
* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
}

a:hover {
  border: 4px solid rgba(140, 92, 2, 1);
}

/* remove it before push */
/* Styling for temporary container for testing css  */
.just-a-parent-container {
  width: 1220px;
  margin: 0 auto;
}
/* remove it before push */

/* Category title */
.category-title {
  text-align: left;
  padding-left: 89px;
}

/* Main container for Category section */
.category-container {
  display: flex;
  width: 100%;
  height: 294px;
  padding: 0 89px;
}

/* Container for single square component on the left side */
.category-left-side-container {
  width: 144px;
  height: 288px;
  margin-right: 10px;
}

/* Single square component on the left side */
.category-single-title-container,
.category-single-icon-container {
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 10px;
  width: 144px;
  height: 144px;
  border: 2px solid black;
}

.category-single-icon-container {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Titles from single and double square containers */
.category-single-title-container,
.category-double-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Container for double square component on the right side */
.category-right-side-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

/* Double square component on the right side */
.category-double-container {
  display: flex;
  margin: 3px;
  width: 288px;
  height: 144px;
  border: 2px solid black;
}

.category-icon-container {
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.category-double-title-container {
  width: 100%;
  height: 100%;
  border-width: 3px;

  border-color: black;
}
