/* General styling */
* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* a:link {
  text-decoration: none;
} */
.category-single-title-container:hover {
  outline: 0.25rem solid rgba(140, 92, 2, 1);
}

.category-double-container:hover {
  outline: 0.25rem solid rgba(140, 92, 2, 1);
}

/* body {
  
} */

.layout {
  padding-bottom: 1.125rem;
  background-image: linear-gradient(
      180deg,
      rgba(28, 56, 64, 0.7) 0%,
      rgba(28, 65, 64, 0.8) 0.01%,
      rgba(7, 27, 32, 0.5) 100%
    ),
    url(../../../assets/body-background-image-concrete.png);
  mix-blend-mode: normal;
}

/* remove it before push */
/* Styling for temporary container for testing css  */
.just-a-parent-container {
  width: 75rem;
  margin: 0 auto;
  padding-bottom: 1.125rem;
  background: rgba(245, 245, 245, 0.05);
  mix-blend-mode: normal;
}
/* remove it before push */

/* Category title */
.category-title {
  color: rgb(245, 245, 245);
  text-align: left;
  padding: 1.125rem 0;
  padding-left: 5.4rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  line-height: 1.425rem;
}

/* Main container for Category section */
.category-container {
  display: flex;
  width: 100%;
  height: 18.375rem;
  padding: 0 89px;
}

/* Container for single square component on the left side */
.category-left-side-container {
  width: 9rem;
  height: 18rem;
  margin-right: 0.625rem;
}

/* Single square component on the left side */
.category-single-title-container,
.category-single-icon-container {
  display: inline-block;
  margin-top: 0.188rem;
  margin-bottom: 0.188rem;
  margin-right: 0.555rem;
  width: 9rem;
  height: 9rem;
  border: 0.125rem solid black;
}

.category-single-icon-container {
  background-color: rgba(0, 0, 0, 1);
}

/* Titles from single and double square containers */
.category-single-title-container,
.category-double-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: rgb(245, 245, 245);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Container for double square component on the right side */
.category-right-side-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

/* Double square component on the right side */
.category-double-container {
  display: flex;
  margin: 0.188rem;
  width: 18rem;
  height: 9rem;
  border: 0.125rem solid black;
  background-color: rgba(0, 0, 0, 0.3);
}

.category-icon-container {
  justify-content: center;
  width: 100%;
  height: 100%;
  border-right: 0.0625rem solid rgba(0, 0, 0, 1);
}

.category-double-title-container {
  width: 100%;
  height: 100%;
  border-width: 0.188rem;

  border-color: black;
}
