.grid-tools-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.625rem;
}

.no-tools-message {
  font-family: 'Abel', sans-serif;
  height: 44px;
  padding: 66px 20px 0px 20px;
}

@media screen and (max-width: 820px) {
  .grid-tools-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.125rem;
  }
}

@media screen and (max-width: 463px) {
  .grid-tools-container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.625rem;
  }
}
