.social-media-logo-container {
    display: flex;
    flex-direction: row;
    gap: 3.25rem;
}

.social-media-logo {
        width: 3.8rem;
    height: 3.8rem;
}

@media screen and (max-width: 1220px) {
  .logo-text {
    font-size: 3rem;
}
}

@media screen and (max-width: 900px) {
.social-media-logo-container {
    gap: 1.5rem;
}

.social-media-logo {
    width: 2rem;
    height: 2rem;
}
}

@media screen and (max-width: 500px) {
.social-media-logo-container {
    gap: 2rem;
}

.social-media-logo {
    width: 2rem;
    height: 2rem;
}
}