@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.footer-container {
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(40, 48, 49);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.footer-content-section {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1220px;
  height: 260px;
}

.footer-copyright-section {
  background-color: rgba(23, 23, 23, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100vw;
}

.footer-copyright-infosection {
  font-size: 0.875;
  color: rgba(255, 255, 255, 1);
  width: 1220px;
  text-align: right;
}

.placeholder-container {
  width: 25rem;
  height: 3.75rem;
  border: 0.25rem solid rgba(188, 122, 0, 1);
  padding: 0.06rem 0.93rem 0.06rem 1.56rem;
}

.placeholder-text {
  color: rgba(245, 245, 245, 1);
  font-weight: 600;
  margin: auto;
  width: 25rem;
  height: 3.75rem;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.logo-text {
  font-family: "Open Sans";
  margin: auto;
  font-size: 4rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: rgba(245, 245, 245, 1);
  text-decoration: underline;
  text-underline-offset: 1rem;
  padding-bottom: 1.7rem;
}

.social-media-logo-container {
  display: flex;
  flex-direction: row;
  gap: 3.25rem;
}

.social-media-logo {
  width: 3.8rem;
  height: 3.8rem;
}

@media screen and (max-width: 1220px) {
  .footer-content-section {
    width: 90vw;
  }

  .footer-copyright-infosection {
    width: 90vw;
  }

  .placeholder-container {
    width: 18rem;
    height: 3rem;
  }

  .placeholder-text {
    width: 18rem;
    height: 3rem;
  }

  .logo-text {
    font-size: 3rem;
  }
}

@media screen and (max-width: 900px) {
  .footer-content-section {
    width: 90vw;
  }

  .footer-copyright-infossection {
    width: 90vw;
  }

  .placeholder-container {
    width: 14rem;
    height: 2.5rem;
  }

  .placeholder-text {
    width: 14rem;
    height: 2.5rem;
    font-size: 0.8rem;
  }

  .logo-text {
    font-size: 2rem;
  }

  .social-media-logo-container {
    gap: 1.5rem;
  }

  .social-media-logo {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .footer-content-section {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    gap: 2rem;
  }

  .footer-copyright-infosection {
    font-size: 0.6;
  }

  .placeholder-container {
    width: 10rem;
    height: 2.5rem;
  }

  .placeholder-text {
    width: 10rem;
    height: 2.5rem;
    font-size: 0.8rem;
  }

  .logo-text {
    font-size: 1.8rem;
  }

  .social-media-logo-container {
    gap: 2rem;
  }

  .social-media-logo {
    width: 2rem;
    height: 2rem;
  }

}