@import url('https://fonts.googleapis.com/css?family=Open+Sans');

footer,
footer > * {
  box-sizing: border-box;
}

footer,
.footer-container,
.copyright-disclaimer-container,
.links-container,
.social-media-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer,
.copyright-disclaimer-container,
.links-container {
  flex-direction: column;
}

footer {
  height: 180px;
  background: linear-gradient(
      180deg,
      rgba(28, 56, 64, 0.7) 0%,
      rgba(28, 65, 64, 0.8) 0.01%,
      rgba(28, 65, 64, 0.6) 100%
    ),
    url('../../../public/assets/images/concrete-bw.png');
  background-repeat: repeat;
  mix-blend-mode: normal;
}

.footer-container {
  width: 1220px;
  height: 155px;
  background-color: (0, 0, 0, 0.3);
}

.footer-bg {
  background-color: rgba(0, 0, 0, 0.3);
  mix-blend-mode: normal;
}

.footer-container::after {
  position: absolute;
  width: 100%;
  content: '';
  left: 0;
  margin-bottom: 170px;
  height: 1rem;
  background-image: url('../../../public/assets/images/tape-cut.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.copyright-disclaimer-container {
  height: 100px;
  text-align: left;
  margin-left: 15px;
}

.copyright-disclaimer-container p {
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

.links-container {
  gap: 1.75rem;
  margin-right: 15px;
}

.logo-link-text {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 9px;
}

.social-media-logo-container {
  gap: 2rem;
}

.social-media-logo {
  width: 36px;
  height: 36px;
}

.footer-black-bar {
  background: #171717;
  height: 40px;
  width: 100%;
}

@media screen and (max-width: 1300px) {
  .footer-container {
    width: 90vw;
    gap: 1rem;
  }

  .footer-container {
    height: 162px;
  }
}

@media screen and (max-width: 1070px) {
  .copyright-disclaimer-container {
    width: 60%;
    margin: 1.2rem 0 1.31rem 1.5rem;
    padding: 0.625rem;
  }

  .copyright-disclaimer-container p {
    font-size: 14px;
    line-height: 20px;
  }

  .links-container {
    width: 172px;
    margin: 0 10% 0 32px;
  }
}

@media screen and (max-width: 865px) {
  .copyright-disclaimer-container p {
    font-size: 12px;
    line-height: 16px;
  }
}

@media screen and (max-width: 650px) {
  .copyright-disclaimer-container p {
    font-size: 12px;
    line-height: 16px;
  }
  .footer-container::after {
    height: 0.5rem;
  }
}

@media screen and (max-width: 605px) {
  footer {
    height: 302px;
  }

  .footer-container {
    height: 262px;
    flex-direction: column-reverse;
  }
  .footer-container::after {
    margin-bottom: 254px;
  }
  .copyright-disclaimer-container {
    width: fit-content;
    margin: 1.71rem 1.375rem 0.95rem 1.375rem;
  }

  .links-container {
    width: 182px;
    height: 38px;
    margin: 24px 0 0 0;
  }

  .social-media-logo-container {
    gap: 1.8rem;
  }

  .social-media-logo {
    width: 38px;
    height: 38px;
  }

  .copyright-disclaimer-container p {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
}

@media screen and (max-width: 310px) {
  .footer-container {
    flex-direction: column-reverse;
  }

  .copyright-disclaimer-container {
    margin: 1.5rem 1rem 1rem 1rem;
    padding: 0;
  }

  .logo-link-text {
    font-size: 1.8rem;
  }

  .social-media-logo-container {
    gap: 1.5rem;
  }

  .social-media-logo {
    width: 36px;
    height: 36px;
  }

  .copyright-disclaimer-container p {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
}
