@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.navigation-bar {
  background: linear-gradient(
      180deg,
      rgba(28, 56, 64, 0.7) 0%,
      rgba(28, 65, 64, 0.7) 0.01%,
      rgba(28, 65, 64, 0.7) 100%
    ),
    url('../../../public/assets/images/body-background-image-concrete.png');
  background-repeat: repeat;
  font-family: 'Open Sans';
  color: #ffffff;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  list-style: none;
  height: 6rem;
}

.logo {
  display: flex;
  font-size: 2rem;
  text-decoration: solid;
  text-decoration-line: underline;
  text-underline-offset: 0.5rem;
}

.logo a {
  color: #ffffff;
  text-decoration: none;
}

.navbar-links {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 2rem;
}

.navbar-links a {
  color: #ffffff;
  text-decoration: none;
}
