@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

header,
header>* {
  box-sizing: border-box;
}

.navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  background: linear-gradient(180deg,
      rgba(28, 56, 64, 0.7) 0%,
      rgba(28, 65, 64, 0.7) 0.01%,
      rgba(28, 65, 64, 0.7) 100%),
    url('../../../public/assets/images/body-background-image-concrete.png');
  background-repeat: repeat;
  font-family: 'Open Sans';
}

.navigation-bar::after {
  position: absolute;
  width: 100%;
  content: "";
  bottom: 0;
  left: 0;
  height: 1rem;
  background-image: url('../../../public/assets/images/tape-cut.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation-bar-container {
  width: 1220px;
  height: calc(100% - 1rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: auto;
  padding-left: 0.625rem;
  padding-right: 1.25rem;
}

.logo a {
  font-size: 1.75rem;
  text-decoration: solid;
  text-decoration-line: underline;
  text-underline-offset: 0.5rem;
}

.logo a span {
  display: block;
  text-align: left;
}

.logo a,
.navbar-link,
.nav-icon-placeholder {
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}


.navbar-links-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.navbar-link {
  font-size: 1.25rem;
  text-decoration: none;
}

.nav-icon-placeholder {
  aspect-ratio: 1/1;
  height: 2rem;
  border: 1px solid rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
}

.nav-icon-placeholder,
.mobile-open-btn {
  font-size: 0.9rem;
  font-weight: 400;
}

.mobile-open-btn {
  background: transparent;
  padding: 0;
  z-index: 999;
  cursor: pointer;
}


.user-name-container,
.log-in-container,
.log-out-container,
.favourite-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hide,
.mobile-open-btn {
  display: none;
}

@media screen and (max-width: 1300px) {
  .navigation-bar-container {
    width: 90vw;
  }
}

@media screen and (max-width: 1230px) {
  .navbar-link {
    display: none;
  }

  .navigation-bar-container {
    padding: 0;
  }

  .mobile-open-btn {
    display: block;
  }
}

@media screen and (max-width: 820px) {
  .navigation-bar-container {
    height: calc(100% - 0.5rem);
  }

  .navigation-bar::after {
    height: 0.5rem;
  }
}

@media screen and (max-width: 490px) {
  .navbar-links-container {
    gap: 1rem;
  }
}