.confirm-delete-tool-button,
.cancel-ddelete-tool-button {
  display: flex;
  font-family: 'Abel';
  font-style: normal;
  background-color: inherit;
  text-align: center;
  letter-spacing: 0.05em;
  height: calc(100% - 0.625rem);
  width: 100%;
  font-size: 1.8rem;
  color: rgba(245, 245, 245, 1);
  border: none;
  padding: 0;
  background: transparent;
  align-items: center;
  justify-content: center;
}
.delete-tool-confirmation-button-container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: flex-end;
}
.delete-tool-confirmation-button-container button {
  border: 4px solid rgba(0, 0, 0, 0.2);
}
.delete-tool-confirmation-button-container::before {
  width: 100%;
  height: 0.625rem;
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../../../public/assets/images/tape-cut392.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.confirm-delete-tool-button a,
.cancel-ddelete-tool-button a {
  color: rgba(245, 245, 245, 1);
  text-decoration: none;
}
