.searchInputDiv {
  width: 30%;
  height: 25px;
  background-color: rgba(245, 245, 245, 0.05);
  margin: 10px 0px 25px 0px;
  padding-left: 3rem;
  border-width: thin;
  border-color: rgb(230, 228, 228);
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(245, 245, 245);
  opacity: 1; /* Firefox */
}
.searchInputDiv:focus {
  outline: none;
}

.searchBarDiv {
  position: relative;
}

.searchBarDiv img {
  position: absolute;
  left: 34%;
  /* padding: 10px 12px; */
  pointer-events: none;
  top: 1rem;
}
