@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

a {
    text-decoration: none;
}

.logo-text {
    font-family: "Open Sans";
    margin: auto;
    font-size: 4rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: rgba(245, 245, 245, 1);
    text-decoration: underline;
    text-underline-offset: 1rem;
    padding-bottom: 1.7rem;
}

@media screen and (max-width: 1220px) {
  .logo-text {
    font-size: 3rem;
}
}

@media screen and (max-width: 900px) {
  .logo-text {
    font-size: 2rem;
}
}

@media screen and (max-width: 500px) {
  .logo-text {
    font-size: 1rem;
}
}