.placeholder-container {
    width: 25rem;
    height: 3.75rem;
    border: 0.25rem solid rgba(188, 122, 0, 1);
    padding: 0.06rem 0.93rem 0.06rem 1.56rem;
}

.placeholder-text {
    color: rgba(245, 245, 245, 1);
    font-weight: 600;
    margin: auto;
    width: 25rem;
    height: 3.75rem;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1220px) {
.placeholder-container {
    width: 18rem;
    height: 3rem;
}
.placeholder-text {
    width: 18rem;
    height: 3rem;
}
}

@media screen and (max-width: 900px) {
.placeholder-container {
    width: 14rem;
    height: 2.5rem;
}
.placeholder-text {
    width: 14rem;
    height: 2.5rem;
    font-size: 0.8rem;
}
}

@media screen and (max-width: 500px) {
.placeholder-container {
    width: 10rem;
    height: 2.5rem;
}
.placeholder-text {
    width: 10rem;
    height: 2.5rem;
    font-size: 0.8rem;
}
}