* {
  color: rgb(254, 254, 254);
}

.filtering-area,
.filtering-category,
.filtering-option,
.filtering-horizontal-flex {
  display: flex;
}

.filtering-area {
  width: 838px;
  gap: 0 1rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.filtering-category {
  flex-direction: column;
  width: 264px;
  gap: 0.2rem 0;
}

.filtering-category-title {
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 160%;
}

.lower-case {
  text-transform: lowercase;
}

.filtering-horizontal-flex {
  width: 100%;
  justify-content: center;
  gap: 0 0.3rem;
}

.show-all-button,
.filtering-option {
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  border: 4px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.filtering-option {
  width: calc(100%-8px);
  height: 2rem;
}

.show-all-button {
  width: 100%;
  line-height: 24px;
}

.filtering-checkbox {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.filtering-checkbox:checked + .filtering-option {
  border-color: #8c5c02;
}

@media screen and (max-width: 950px) {
  .filtering-area {
    width: 90vw;
  }
  .filtering-category {
    margin: 0% 1% 0% 1%;
  }
}
@media screen and (min-width: 610px) and (max-width: 770px) {
  .filtering-category-title {
    font-size: 2vw;
  }
}
@media screen and (min-width: 500px) and (max-width: 609px) {
  .filtering-category-title {
    font-size: 2vw;
  }
  .filtering-category {
    margin: 0% 0.2% 0% 0.2%;
  }
}
@media screen and (min-width: 1px) and (max-width: 499px) {
  .filtering-area {
    flex-direction: column;
    gap: 1rem;
  }
  .filtering-horizontal-flex {
    justify-content: space-around;
  }
  .filtering-category-mobile-view {
    display: flex;
  }
  .filtering-category-title {
    font-size: 3vw;
    line-height: 100%;
    padding-left: 0.5rem;
  }
  .filtering-category {
    width: 100%;
  }
  .filtering-option {
    width: 25vw;
    font-size: 3vw;
  }

  .show-all-button {
    line-height: 24px;
    font-size: 3vw;
    width: 38vw;
  }
  .filtering-checkbox-mobile-view,
  .filtering-checkbox-mobile-view-for-category {
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
    gap: 0.5rem 1.5rem;
  }
  .filtering-checkbox-mobile-view-for-category {
    gap: 0.5rem 2rem;
  }

  .filtering-checkbox-mobile-view-for-category .filtering-option {
    width: 40vw;
  }
  .filtering-category-title {
    width: 90%;
  }
}
@media screen and (min-width: 1px) and (max-width: 450px) {
  .filtering-checkbox-mobile-view-for-category,
  .filtering-checkbox-mobile-view {
    gap: 0.5rem;
    justify-content: space-between;
  }
  .filtering-checkbox-mobile-view-for-category .filtering-option {
    width: 36vw;
  }
  .filtering-category-title {
    width: 100%;
  }
}
@media screen and (min-width: 1px) and (max-width: 300px) {
  .filtering-option,
  .show-all-button {
    width: 20vw;
    font-size: 3.1vw;
  }
  .filtering-checkbox-mobile-view-for-category .filtering-option {
    width: 35vw;
  }
}
