.landing-page-container {
  color: rgb(255, 255, 255);
}

.image-background-wrapper {
  position: relative;
  padding-bottom: 1.625rem;
}

.image-background-wrapper::after {
  display: block;
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: url('../../../public/assets/images/welcome-filter-background.png');
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  background-size: cover;
  background-position: center;
  opacity: 0.3;
}

.image-background-wrapper > div {
  position: relative;
  z-index: 1;
}
