@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Inter:wght@400;600;700&display=swap');

* {
  margin: 0;
}

.tool-details-container {
  background: linear-gradient(180deg,
      rgba(28, 56, 64, 0.7) 0%,
      rgba(28, 65, 64, 0.8) 0.01%,
      rgba(7, 27, 32, 0.5) 100%),
    url('../../../public/assets/images/concrete-bw.png');
  background-repeat: repeat;
  padding-top: 2.75rem;
  padding: 2.75rem 6.875rem;
  margin: 0px auto;
  font-family: 'Abel';
  color: rgba(245, 245, 245, 0.5);
  text-align: left;
}

.breadcrumbs,
h1 {
  text-align: center;
}

.breadcrumbs {
  font-family: 'Open Sans';
  font-size: 1rem;
  color: rgba(245, 245, 245);
}

h1 {
  font-weight: 400;
  font-size: 3rem;
  margin-top: 3.5rem;
  margin-bottom: 2.5rem;
}

.breadcrumbs span,
h1 {
  text-transform: uppercase;
}

h2 {
  font-size: 2.25rem;
  font-weight: 400;
}

p,
h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}

.tool-image {
  height: 12.5rem;
  margin: auto;
  display: block;
}

.tool-criteria-summary {
  margin-top: 3.5rem;
  padding-left: 0;
  list-style-type: none;
  padding: 1.5rem 0;
  border-top: 2px solid rgba(245, 245, 245);
  border-bottom: 2px solid rgba(245, 245, 245);
}

.tool-criteria-summary li {
  font-size: 1.5rem;
  line-height: 2rem;
}

.tool-criteria-summary>li:first-child>span:first-child {
  margin-left: 0.5rem;
}

.tool-criteria-summary li:not(:last-child) {
  margin-bottom: 1rem;
}

.tool-description {
  margin: 2.5rem 0;
}

.tool-description>p:first-child {
  margin-bottom: 2.5rem;
}

.tool-instructions h2 {
  margin-bottom: 2.375rem;
}

.tool-instructions h3 {
  margin-bottom: 2rem;
}

.instructions-description,
.step-container {
  margin-bottom: 4.125rem;
}

.step-container>p:not(:last-child) {
  margin-bottom: 0.8rem;
}